.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Test Code-checkpoint.ipynb
.ipynb_checkpoints/Data Audit Report-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/Data Audit Report-Copy1-checkpoint.ipynb
Data Audit Report-Copy1.ipynb
.ipynb_checkpoints/Tim Document-checkpoint.ipynb
.ipynb_checkpoints/Data Audit Report-Copy2-checkpoint.ipynb
Data Audit Report-Copy2.ipynb
.ipynb_checkpoints/XGBoost-checkpoint.ipynb
.ipynb_checkpoints/Lasso-checkpoint.ipynb
.ipynb_checkpoints/Clustering Scratch-checkpoint.ipynb
.ipynb_checkpoints/basic data prep for modelling -checkpoint.ipynb